/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}
/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */

}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.ribbon-holder {
  position: absolute;
  overflow: hidden;
  height: 10em;
  top: 0;
}
.right.ribbon-holder {
  right: 0;
}
.left.ribbon-holder {
  left: 0;
}
.ribbon,
.ribbon:hover {
  text-decoration: none !important;
}
.ribbon {
  opacity: 0.95;
  padding: 0.25em 0;
  position: relative;
  display: block;
  top: 2.5em;
  /* Defaults friendly for white pages. */

  -webkit-box-shadow: 0px 0px 13px #888888;
  -moz-box-shadow: 0px 0px 13px #888888;
  -ms-box-shadow: 0px 0px 13px #888888;
  -o-box-shadow: 0px 0px 13px #888888;
  box-shadow: 0px 0px 13px #888888;
  color: #FFF;
}
.ribbon .text {
  padding: 0.1em 3em;
}
.right .ribbon {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -2.5em;
}
.left .ribbon {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: -2.5em;
}
.white.ribbon {
  color: #111;
  background-color: #F5F5F5;
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #ffffff 100%);
  background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f3f3f3 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #f3f3f3 0%, #ffffff 100%);
  background: linear-gradient(top, #f3f3f3 0%, #ffffff 100%);
  -webkit-box-shadow: 0px 0px 13px #999999;
  -moz-box-shadow: 0px 0px 13px #999999;
  -ms-box-shadow: 0px 0px 13px #999999;
  -o-box-shadow: 0px 0px 13px #999999;
  box-shadow: 0px 0px 13px #999999;
  text-shadow: 0 0 .05em;
}
.white.ribbon .text {
  border: 1px solid #cecece;
}
.red.ribbon {
  background-color: #9a0000;
  background: -webkit-linear-gradient(top, #9a0000 0%, #a90000 100%);
  background: -moz-linear-gradient(top, #9a0000 0%, #a90000 100%);
  background: -ms-linear-gradient(top, #9a0000 0%, #a90000 100%);
  background: -o-linear-gradient(top, #9a0000 0%, #a90000 100%);
  background: linear-gradient(top, #9a0000 0%, #a90000 100%);
}
.red.ribbon .text {
  border: 1px solid #bf6060;
}
.green.ribbon {
  background-color: #006e00;
  background: -webkit-linear-gradient(top, #006e00 0%, #007200 100%);
  background: -moz-linear-gradient(top, #006e00 0%, #007200 100%);
  background: -ms-linear-gradient(top, #006e00 0%, #007200 100%);
  background: -o-linear-gradient(top, #006e00 0%, #007200 100%);
  background: linear-gradient(top, #006e00 0%, #007200 100%);
}
.green.ribbon .text {
  border: 1px solid #6bac6b;
}
.darkblue.ribbon {
  background-color: #121621;
  color: #ecedee;
}
.darkblue.ribbon .text {
  border: 1px solid #53565e;
}
.orange.ribbon {
  background-color: #E57504;
  background: -webkit-linear-gradient(top, #dc7202 0%, #ee7906 100%);
  background: -moz-linear-gradient(top, #dc7202 0%, #ee7906 100%);
  background: -ms-linear-gradient(top, #dc7202 0%, #ee7906 100%);
  background: -o-linear-gradient(top, #dc7202 0%, #ee7906 100%);
  background: linear-gradient(top, #dc7202 0%, #ee7906 100%);
}
.orange.ribbon .text {
  border: 1px solid #ebaa65;
}
.gray.ribbon {
  background-color: #6d6d6d;
  background: -webkit-linear-gradient(top, #6a6a6a 0%, #6d6d6d 100%);
  background: -moz-linear-gradient(top, #6a6a6a 0%, #6d6d6d 100%);
  background: -ms-linear-gradient(top, #6a6a6a 0%, #6d6d6d 100%);
  background: -o-linear-gradient(top, #6a6a6a 0%, #6d6d6d 100%);
  background: linear-gradient(top, #6a6a6a 0%, #6d6d6d 100%);
}
.gray.ribbon .text {
  border: 1px solid #a4a4a4;
}
.bobschi.ribbon {
  background-color: #dc143c;
  background: -webkit-linear-gradient(top, #ed365b 0%, #dc143c 100%);
  background: -moz-linear-gradient(top, #ed365b 0%, #dc143c 100%);
  background: -ms-linear-gradient(top, #ed365b 0%, #dc143c 100%);
  background: -o-linear-gradient(top, #ed365b 0%, #dc143c 100%);
  background: linear-gradient(top, #ed365b 0%, #dc143c 100%);
}
.bobschi.ribbon .text {
  border: 1px solid #f7a2b3;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  min-width: 60 em;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 60 em;
}
.container:first-child {
  margin-left: 0;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24 {
  display: inline;
  float: left;
  margin-left: 1em;
}
.push_1,
.pull_1,
.push_2,
.pull_2,
.push_3,
.pull_3,
.push_4,
.pull_4,
.push_5,
.pull_5,
.push_6,
.pull_6,
.push_7,
.pull_7,
.push_8,
.pull_8,
.push_9,
.pull_9,
.push_10,
.pull_10,
.push_11,
.pull_11,
.push_12,
.pull_12,
.push_13,
.pull_13,
.push_14,
.pull_14,
.push_15,
.pull_15,
.push_16,
.pull_16,
.push_17,
.pull_17,
.push_18,
.pull_18,
.push_19,
.pull_19,
.push_20,
.pull_20,
.push_21,
.pull_21,
.push_22,
.pull_22,
.push_23,
.pull_23 {
  position: relative;
}
/* `Grid >> 24 Columns
----------------------------------------------------------------------------------------------------*/
.container_24 .grid_1 {
  width: 30px;
}
.container_24 .grid_2 {
  width: 70px;
}
.container_24 .grid_3 {
  width: 110px;
}
.container_24 .grid_4 {
  width: 150px;
}
.container_24 .grid_5 {
  width: 190px;
}
.container_24 .grid_6 {
  width: 230px;
}
.container_24 .grid_7 {
  width: 270px;
}
.container_24 .grid_8 {
  width: 310px;
}
.container_24 .grid_9 {
  width: 350px;
}
.container_24 .grid_10 {
  width: 390px;
}
.container_24 .grid_11 {
  width: 430px;
}
.container_24 .grid_12 {
  width: 470px;
}
.container_24 .grid_13 {
  width: 510px;
}
.container_24 .grid_14 {
  width: 550px;
}
.container_24 .grid_15 {
  width: 590px;
}
.container_24 .grid_16 {
  width: 630px;
}
.container_24 .grid_17 {
  width: 670px;
}
.container_24 .grid_18 {
  width: 710px;
}
.container_24 .grid_19 {
  width: 750px;
}
.container_24 .grid_20 {
  width: 790px;
}
.container_24 .grid_21 {
  width: 830px;
}
.container_24 .grid_22 {
  width: 870px;
}
.container_24 .grid_23 {
  width: 910px;
}
.container_24 .grid_24 {
  width: 950px;
}
/* `Prefix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/
.container_24 .prefix_1 {
  padding-left: 40px;
}
.container_24 .prefix_2 {
  padding-left: 80px;
}
.container_24 .prefix_3 {
  padding-left: 120px;
}
.container_24 .prefix_4 {
  padding-left: 160px;
}
.container_24 .prefix_5 {
  padding-left: 200px;
}
.container_24 .prefix_6 {
  padding-left: 240px;
}
.container_24 .prefix_7 {
  padding-left: 280px;
}
.container_24 .prefix_8 {
  padding-left: 320px;
}
.container_24 .prefix_9 {
  padding-left: 360px;
}
.container_24 .prefix_10 {
  padding-left: 400px;
}
.container_24 .prefix_11 {
  padding-left: 440px;
}
.container_24 .prefix_12 {
  padding-left: 480px;
}
.container_24 .prefix_13 {
  padding-left: 520px;
}
.container_24 .prefix_14 {
  padding-left: 560px;
}
.container_24 .prefix_15 {
  padding-left: 600px;
}
.container_24 .prefix_16 {
  padding-left: 640px;
}
.container_24 .prefix_17 {
  padding-left: 680px;
}
.container_24 .prefix_18 {
  padding-left: 720px;
}
.container_24 .prefix_19 {
  padding-left: 760px;
}
.container_24 .prefix_20 {
  padding-left: 800px;
}
.container_24 .prefix_21 {
  padding-left: 840px;
}
.container_24 .prefix_22 {
  padding-left: 880px;
}
.container_24 .prefix_23 {
  padding-left: 920px;
}
/* `Suffix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/
.container_24 .suffix_1 {
  padding-right: 40px;
}
.container_24 .suffix_2 {
  padding-right: 80px;
}
.container_24 .suffix_3 {
  padding-right: 120px;
}
.container_24 .suffix_4 {
  padding-right: 160px;
}
.container_24 .suffix_5 {
  padding-right: 200px;
}
.container_24 .suffix_6 {
  padding-right: 240px;
}
.container_24 .suffix_7 {
  padding-right: 280px;
}
.container_24 .suffix_8 {
  padding-right: 320px;
}
.container_24 .suffix_9 {
  padding-right: 360px;
}
.container_24 .suffix_10 {
  padding-right: 400px;
}
.container_24 .suffix_11 {
  padding-right: 440px;
}
.container_24 .suffix_12 {
  padding-right: 480px;
}
.container_24 .suffix_13 {
  padding-right: 520px;
}
.container_24 .suffix_14 {
  padding-right: 560px;
}
.container_24 .suffix_15 {
  padding-right: 600px;
}
.container_24 .suffix_16 {
  padding-right: 640px;
}
.container_24 .suffix_17 {
  padding-right: 680px;
}
.container_24 .suffix_18 {
  padding-right: 720px;
}
.container_24 .suffix_19 {
  padding-right: 760px;
}
.container_24 .suffix_20 {
  padding-right: 800px;
}
.container_24 .suffix_21 {
  padding-right: 840px;
}
.container_24 .suffix_22 {
  padding-right: 880px;
}
.container_24 .suffix_23 {
  padding-right: 920px;
}
/* `Push Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/
.container_24 .push_1 {
  left: 40px;
}
.container_24 .push_2 {
  left: 80px;
}
.container_24 .push_3 {
  left: 120px;
}
.container_24 .push_4 {
  left: 160px;
}
.container_24 .push_5 {
  left: 200px;
}
.container_24 .push_6 {
  left: 240px;
}
.container_24 .push_7 {
  left: 280px;
}
.container_24 .push_8 {
  left: 320px;
}
.container_24 .push_9 {
  left: 360px;
}
.container_24 .push_10 {
  left: 400px;
}
.container_24 .push_11 {
  left: 440px;
}
.container_24 .push_12 {
  left: 480px;
}
.container_24 .push_13 {
  left: 520px;
}
.container_24 .push_14 {
  left: 560px;
}
.container_24 .push_15 {
  left: 600px;
}
.container_24 .push_16 {
  left: 640px;
}
.container_24 .push_17 {
  left: 680px;
}
.container_24 .push_18 {
  left: 720px;
}
.container_24 .push_19 {
  left: 760px;
}
.container_24 .push_20 {
  left: 800px;
}
.container_24 .push_21 {
  left: 840px;
}
.container_24 .push_22 {
  left: 880px;
}
.container_24 .push_23 {
  left: 920px;
}
/* `Pull Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/
.container_24 .pull_1 {
  left: -40px;
}
.container_24 .pull_2 {
  left: -80px;
}
.container_24 .pull_3 {
  left: -120px;
}
.container_24 .pull_4 {
  left: -160px;
}
.container_24 .pull_5 {
  left: -200px;
}
.container_24 .pull_6 {
  left: -240px;
}
.container_24 .pull_7 {
  left: -280px;
}
.container_24 .pull_8 {
  left: -320px;
}
.container_24 .pull_9 {
  left: -360px;
}
.container_24 .pull_10 {
  left: -400px;
}
.container_24 .pull_11 {
  left: -440px;
}
.container_24 .pull_12 {
  left: -480px;
}
.container_24 .pull_13 {
  left: -520px;
}
.container_24 .pull_14 {
  left: -560px;
}
.container_24 .pull_15 {
  left: -600px;
}
.container_24 .pull_16 {
  left: -640px;
}
.container_24 .pull_17 {
  left: -680px;
}
.container_24 .pull_18 {
  left: -720px;
}
.container_24 .pull_19 {
  left: -760px;
}
.container_24 .pull_20 {
  left: -800px;
}
.container_24 .pull_21 {
  left: -840px;
}
.container_24 .pull_22 {
  left: -880px;
}
.container_24 .pull_23 {
  left: -920px;
}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after,
.container_24:before,
.container_24:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after,
.container_24:after {
  clear: both;
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix,
.container_24 {
  zoom: 1;
}
body {
  color: #1a1a1a;
  background: #ffffff url("../img/bg.png") repeat;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #dc143c;
}
h1.mute,
h2.mute,
h3.mute,
h4.mute,
h5.mute,
h6.mute {
  color: #f7a2b3;
}
a,
a:link {
  color: #dc143c;
}
a:hover,
a:link:hover {
  color: #ed365b;
}
.mute {
  color: #999999;
}
.mute a,
.mute a:link {
  color: #f7a2b3;
}
.mute a:hover {
  color: #fbd1d9;
}
.mute h1,
.mute h2,
.mute h3,
.mute h4,
.mute h5,
.mute h6 {
  color: #f7a2b3;
}
#pagination a,
#pagination a:link {
  color: #f7a2b3;
}
#pagination a:hover {
  color: #fbd1d9;
}
#pagination ul.active a {
  border-bottom: 2px solid #f7a2b3;
}
#pagination ul.active a:hover {
  border-bottom: 2px solid #fbd1d9;
}
header nav,
footer,
aside {
  color: #999999;
}
header nav a,
footer a,
aside a,
header nav a:link,
footer a:link,
aside a:link {
  color: #f7a2b3;
}
header nav a:hover,
footer a:hover,
aside a:hover {
  color: #fbd1d9;
}
header nav h1,
footer h1,
aside h1,
header nav h2,
footer h2,
aside h2,
header nav h3,
footer h3,
aside h3,
header nav h4,
footer h4,
aside h4,
header nav h5,
footer h5,
aside h5,
header nav h6,
footer h6,
aside h6 {
  color: #f7a2b3;
}
