body {
	background: url("../img/beige-paper.png") repeat;
}
.flourish {
	display: block;
}
.container {
	margin-top: @baseLineHeight*2;
}
header[role="banner"] {
	background: rgba(0,0,0,0.5);
}