//simpless:!minify
@import "normalize";
@import "helpfull";
@import "ribbon";

// Colours & Backgrounds

@black: #000;
@white: #fff;
@red: #dc143c;

@textColor: lighten(@black,10%);
@textColorMuted: lighten(@textColor,50%);
@primaryColor: @red;
@primaryColorMuted: lighten(@red,33%);
@linkColor: @primaryColor;
@linkColorMuted: @primaryColorMuted;
@linkHover: lighten(@linkColor,10%);
@linkHoverMuted: lighten(@linkHover,33%);
 
body {
	color: @textColor;
	background: @white url("../img/bg.png") repeat;
}

h1,h2,h3,h4,h5,h6 {
	color: @primaryColor;
	&.mute {color: @primaryColorMuted;}
}
a 				{ color: @linkColor;
	&:link  { color: @linkColor; }
	&:hover { color: @linkHover; }
}

.mute {
	color: @textColorMuted;
	a, a:link {
		color: @linkColorMuted;
	}
	a:hover {
		color: @linkHoverMuted;
	}
	h1,h2,h3,h4,h5,h6 {
		color: @primaryColorMuted;
	}
}

#featured {
	border-left: 0; border-right: 0;
	padding-top: @line-height/@em;
}

#pagination {
	.center;
	padding: @line-height/@em 0;
	a, a:link {
		color: @linkColorMuted;
	}
	a:hover {
		color: @linkHoverMuted;
	}
	ul {
		list-style-type: none;
		li {
			display: inline;
		}
		&.active a {
			border-bottom: 2px solid @linkColorMuted;
		}
		&.active a:hover {
			border-bottom: 2px solid @linkHoverMuted;
		}
	}
}
.visuallyhidden { display: none; visibility: hidden; }
header nav, footer, aside { .mute; }