// Colours & Backgrounds

@black: #000;
@white: #fff;
@red: #dc143c;

@textColor: lighten(@black,10%);
@textColorMuted: lighten(@textColor,50%);
@primaryColor: @red;
@primaryColorMuted: lighten(@red,33%);
@linkColor: @primaryColor;
@linkColorMuted: @primaryColorMuted;
@linkHover: lighten(@linkColor,10%);
@linkHoverMuted: lighten(@linkHover,33%);
@headerBorder: 1;
@footerBorder: 1;

body {
  color: @textColor;
  background: @white url("../img/bg.png") repeat;
}

h1,h2,h3,h4,h5,h6   { color: @primaryColor;
  &.mute            { color: @primaryColorMuted; }
}
a, a:link { color: @linkColor;
  &:hover { color: @linkHover; }
}

.mute {
  color: @textColorMuted;
  a, a:link {
    color: @linkColorMuted;
  }
  a:hover {
    color: @linkHoverMuted;
  }
  h1,h2,h3,h4,h5,h6 {
    color: @primaryColorMuted;
  }
}

header nav, footer, aside { .mute; }

header[role="banner"] {
  border-bottom: @footerBorder /@em solid fadeout(@textColorMuted,66.6666666%);
  background: fade(@textColorMuted,10%);
}

div[role="main"] {
  header {
    .decoration {
      color: @primaryColor;
    }
  }
}

footer[role="contentinfo"] {
  border-top: @footerBorder /@em solid fadeout(@textColorMuted,66.6666666%);
}

.debug1 {
  background: fadeout(@primaryColor,66%);
}
.debug2 {
  background: fadeout(@primaryColor,75%);
}
.debug3 {
  background: fadeout(@primaryColor,88%);
}