@import url(http://fonts.googleapis.com/css?family=IM+Fell+English);

//
// type defaults
//
@fontSize: 16;                          // base fontSize in pixels
@lineFactor: 1.5;                       // lineHeight in relation to fontSize, 1.5 for something like garamond, 1.4 for something like palatino
@lineHeight: @fontSize * @lineFactor;   // lineHeight in pixels
@em: @fontSize*1em;                     // shorthand for calculating ems, like 12/@em;

@bodyFont: Georgia, Cambria, "Times New Roman", Times, serif;
@headingFont: 'IM Fell English', Georgia, Cambria, "Times New Roman", Times, serif;
@unicodeFont: "Arial Unicode MS", Arial, FreeSans, sans-serif;
@monoFont: monospace;

//
// Fonts and Vertical Rhytmn
//
body {
  font-size: @fontSize;
  line-height: @lineFactor;
}
p, ul, ol, dl, blockquote {
  font-family: @bodyFont;
  font-size: @fontSize /@em; // 16px
  line-height: @lineFactor; // 24px
  margin: 0 0 @lineHeight /@em 0;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: @headingFont;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
}
pre, code {
  font-family: @monoFont;
}
.flourish {
  font-family: @unicodeFont;
}

h1, .gigantic {
  font-size: 2em; // 32px
  line-height: 1.5; // 48px
  margin: 0.75em 0 0 0; // 24 px
}
/* 28px - The quick brown fox jumps over the lazy dog */
h2, .huge {
  font-size: 1.75em; // 28px
  line-height: 1.714285714; // 48px
  margin: 0.857142857em 0 0 0; // 24px
}
/* 24px - The quick brown fox jumps over the lazy dog */
h3, .xxxlarge {
  font-size: 1.5em; // 24px
  line-height: 1; // 24px
  margin-top: 1em 0 0 0;
}
/* 22px - The quick brown fox jumps over the lazy dog */
h4, .xxlarge {
  font-size: 1.375em; // 22px
  line-height: 1.090909091; // 24px
  margin-top: 1.090909091em 0 0 0;
}
/* 20px - The quick brown fox jumps over the lazy dog */
h5, .xlarge {
  font-size: 1.25em; // 20px
  line-height: 1.2; // 24px
  margin-top: 1.2em 0 0 0;
}
/* 18px - The quick brown fox jumps over the lazy dog */
h6, .large {
  font-size: 1.125em; // 18p
  line-height: 1.333333333; // 24px
  margin-top: 1.333333333em 0 0 0;
}
.lead {
  .large;
  font-style: italic;
}
small, .small {
  font-size: 0.875em; // 14px
  line-height: 1.714285714;
}
.tiny {
  font-size: 0.75em; // 12px
  line-height: 2;
}


//
// Shared Styles
//
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

//
// Special Styles
//
.flushRight {
  text-align: right;
}
.fleshLeft {
  text-align: left;
}
.center {
  text-align: center;
}

header[role="banner"] {
  hgroup {
    #masthead, #deco, #pagetitle {
      .flushRight;
    }
  }
  nav {
    ul {
      padding-left: 0;
    }
  }
}

div[role="main"] {
  article {
    &#featured {
      .decoration {
        .flourish {
          .gigantic;
          padding: 0;
        }
      }
    }

    .decoration {
      .flushRight;

      .flourish {
        display: inline-block;
        margin-top: 1.5em; // 24px
        padding-top: 0.5em; // 8px
        line-height: 2;
      }
    }

    aside {
      .flushRight;

      ul {
        .unstyledList;
          ul {
            .inlineList;
            height: @lineHeight;
        }
      }

      .categories {
        text-transform: lowercase;
      }
    }
  }

  aside#pagination {
    .center;
    ul {
      .inlineList;
    }
  }

  .asterisk {
    text-align:center;
  }
}