  <footer role="contentinfo" >
    <section id="license">
      <p>Florian Holzner has licensed this blog under the <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/at/">Creative Commons by-nc 3.0 AT License</a>.</p>
    </section>
    <section id="about">
      <p>What is this madness all <a href="{{ site.baseurl }}about.html">about</a>?!<br>
      Fork this blog on <a href="https://github.com/bobschi">github</a> or on <a href="https://bitbucket.org/bobschi/blog">bitbucket</a>!</p>
    </section>
    <section id="feed">
      <p>Subscribe to the <a href="http://feeds.feedburner.com/LeBobschBlogsch">Atom</a> or <a href="http://feeds.feedburner.com/LeBobschBlogschRSS">RSS-feed</a> to be kept up to date about recent posts.</p>
    </section>
  </footer>