<!doctype html>
<head>
<meta charset="utf-8">
{% assign is_post = false %}{% assign is_main = false %}{% if page.teaser != null %}{% assign is_post = true %}{% endif %}{% if page.title == "Le Bobsch Blogsch" %}{% assign is_main = true %}{% endif %}<title>Le Bobsch Blogsch{% if is_post %} &ndash; {{ page.title }} {% endif %}</title>
{% include head.html %}
<body lang="en">

<div class="container">
  <header role="banner">
    <div class="span12">
      <hgroup>
        <h1 id="masthead"><a href="{{ site.baseurl }}" title="Take me back home!">Le Bobsch Blogsch</a>
        <span id="deco" class="flourish mute">❦</span>
        {% unless is_main %}
          <span class="{% if is_post %}post-title{% else %}page-title{% endif %}">
          {{ page.title }}
          </span>
        {% endunless %}
        </h1>
        {% if page.tagline != null %}
          <h2 class="hyphenate page-tagline">&ldquo;{{ page.tagline | markdownify }}&rdquo;</h2>
        {% endif %}
      </hgroup>
      <nav role="navigation">             <!-- row -->
        <ul id="sitenav">             
          <div class="row">
            <li><a href="{{ site.baseurl }}">Home</a></li>
            <li><a href="{{ site.baseurl }}about.html">About</a></li>
            <li><a href="{{ site.baseurl }}about.html#contact">Contact</a></li>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <div role="main">
      {{ content }}
  </div>

{% include footer.html %}
</div>
{% include js.html %}

</body>
</html>