<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ page.title }}</title>

		<!-- Blueprint.css Library -->
		<link rel="stylesheet" href="{{ site.url }}/libraries/blueprint/screen.css" media="screen, projection">
		<link rel="stylesheet" href="{{ site.url }}/libraries/blueprint/print.css" media="print">
		<!--[if lt IE 8]>
			<link rel="stylesheet" href="{{ site.url }}/libraries/blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]-->

		<!-- My own stylesheets -->
		<link rel="stylesheet" href="{{ site.url }}/stylesheets/screen.css" media="screen,projection" />
		<link rel="stylesheet" href="{{ site.url }}/stylesheets/print.css" media="print" />

		<!-- Modernizr -->
		<script src="{{ site.url }}/libraries/modernizr.min.js"></script>
	</head>

	<body class="default">
		<!-- The oh-so necessary container. Doesn't really work when you use it on body ... :( -->
		<div class="container">
			<header class="span-24">
				<h1>bobschi's BLAHRG</h1>
				<h2>Beeing awesome and stuff</h2>
				<div class="ribbon">
					<a href="https://github.com/cypher/" rel="me">Fork me on GitHub</a>
				</div>
			</header>

			<nav class="span-24">
				<ul>
					<li><a href="http://lebobs.ch/">Home</a></li>
				</ul>
			</nav>
			
			<article class="span-24">
				<section>
					{{ content }}
				</section>
			</article>

			<footer class="span-24">
				<p>Epic since 2011.</p>
				<p>Epicness provided by Florian <a href="https://twitter.com/bobschi">bobschi</a> Holzner</p>
			</footer>
		</div>
	</body>
</html>