---
layout: default
---
<div class="span12">
{% if page.featured %}
<article id="featured">
  <header>
    <div class="row">
      <hgroup>
        <h1>{{ page.featured }}</h1>
      </hgroup>
      <div class="decoration pull7">
        <p class="flourish huge">&#9758;</p>
      </div>
    </div>
  </header>
<section>
{{ content | markdownify }}
</section>
</article>
{% endif %}

{% for post in paginator.posts %}
<article id="post-{{ post.id | remove_first:'/' | replace:'/','-' }}">
  <header>
    <div class="row">
      <hgroup>
        <h1>{{ post.title | escape }}</h1>
      </hgroup>
      <div class="decoration pull7 mute">
        <p><a class="flourish" href="{{ post.url }}">&#9776;</a></p>
      </div>
    </div>
  </header>
  <section>
    {{ post.content }}
  </section>
  <aside class="pull8">
    <ul>
      <li class="date-published"><span class="visuallyHidden">Published on: </span><time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date: "%B %d, %Y" }}</time></li>
      <li class="categories">
      {% if post.categories %}
          <ul>
            {% for category in post.categories %}
              <li>{{ category }}</li>
            {% endfor %}
          </ul>
      {% endif %}
      </li>
    </ul>
  </aside>
</article>
<div class="flourish asterisk">&#8258;</div>
{% endfor %}

<aside id="pagination">
  <ul>
    {% if paginator.previous_page %}
      <li>
        <a href="{{ site.baseurl }}page{{ paginator.previous_page }}">&larr;<span class="visuallyHidden"> Previous</span></a>
      </li>
      <li>
        <a href="{{ site.baseurl }}">1</a>
      </li>
      {% if paginator.previous_page > 2 %}
        <li class="mute">&hellip;</li>
      {% endif %}
      {% if paginator.previous_page > 1%}
        <li>
          <a href="{{ site.baseurl }}page{{ paginator.previous_page }}">{{ paginator.previous_page }}</a>
        </li>
      {% endif %}
      <li class="active">
        <a href="{{ site.baseurl }}page{{ paginator.page }}">{{ paginator.page }}</a>
      </li>
    {% else %}
      <li class="mute">&larr;<span class="visuallyHidden"> No Previous</span></li>
      <li class="active">
        <a href="{{ site.baseurl }}">{{ paginator.page }}</a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li><a href="{{ site.baseurl }}page{{ paginator.next_page }}">{{ paginator.next_page }}</a></li>
      {% unless paginator.next_page == paginator.total_pages %}
        <li class="mute">&hellip;</li>
      {% endunless %}
      <li><a href="{{ site.baseurl }}page{{ paginator.next_page }}"><span class="visuallyHidden">Next </span>&rarr;</a></li>
    {% else %}
      <li class="mute"><span class="visuallyHidden">No Next </span>&rarr;</li>
    {% endif %}
  </ul>
</aside>
</div>