---
layout: default
---
<!--Layout: Index-->
{% if content %}
<article id="featured">
{{ content }}
</article>
{% endif %}

{% for post in paginator.posts %}
<article>
  <header>
    <h1><a href="{{ post.url }}">{{ post.title | escape }}</a></h1>
    <time class="mute" datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date: "%B %d, %Y" }}</time>
  </header>
  {{ post.content }}
</article>
{% endfor %}

<aside id="pagination">
  <ul>
    {% if paginator.previous_page %}
      <li>
        <a href="{{ site.baseurl }}page{{ paginator.previous_page }}">&larr;<span class="visuallyhidden"> Previous</span></a>
      </li>
      <li>
        <a href="{{ site.baseurl }}">1</a>
      </li>
      {% if paginator.previous_page > 2 %}
        <li class="mute">&hellip;</li>
      {% endif %}
      {% if paginator.previous_page > 1%}
        <li>
          <a href="{{ site.baseurl }}page{{ paginator.previous_page }}">{{ paginator.previous_page }}</a>
        </li>
      {% endif %}
      <li class="active">
        <a href="{{ site.baseurl }}page{{ paginator.page }}">{{ paginator.page }}</a>
      </li>
    {% else %}
      <li class="mute">&larr;<span class="visuallyhidden"> No Previous</span></li>
      <li class="active">
        <a href="{{ site.baseurl }}">{{ paginator.page }}</a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li><a href="{{ site.baseurl }}page{{ paginator.next_page }}">{{ paginator.next_page }}</a></li>
      {% unless paginator.next_page == paginator.total_pages %}
        <li class="mute">&hellip;</li>
      {% endunless %}
      <li><a href="{{ site.baseurl }}page{{ paginator.next_page }}"><span class="visuallyhidden">Next </span>&rarr;</a></li>
    {% else %}
      <li class="mute"><span class="visuallyhidden">No Next </span>&rarr;</li>
    {% endif %}
  </ul>
</aside>

<!-- Pagination links 
  <span class="page_number btn">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next btn">Next</a>
  {% else %}
    <span class="next btn">Next</span>
  {% endif %}
</div>

<article id="postindex">
  <header class="visuallyhidden">
    <h1>Post-Index</h1>
  </header>
  {% for post in site.posts %}
    <section class="single-post">
      <header class="post-header">
        <h1 class="post-title"><a href="{{ post.url }}">{{ post.title | markdownify }}</a></h1>
        
      </header>
      <p class="post-teaser">{{ post.teaser | markdownify | strip_html }}</p>
      {{ post.content }}
    </section>
  {% endfor %}
</article>
-->